body {
    font-family: martian mono;
}
.hero-wrapper {
    background-image: 
        url(Images/pattern-glow.svg),
        url(Images/pattern-light-bg.svg);
    background-size: auto, cover;
    background-color: #FFF5EF;
    background-position: bottom right, center;
    background-repeat: no-repeat, repeat;
    padding: 60px 90px;
    margin: 0 auto;
    box-sizing: border-box;
}
.hero {
    display: flex;
    margin-top: 80px;
}
.hero-container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    gap: 40px;
    align-items: center;
    flex-direction: column;
}
.hero-image img {
    max-width: 540px;
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.hero-content h1 {
    font-size: 62px;
    line-height: 120%;
    letter-spacing: -2px;
    background: linear-gradient(107deg, #FF9A60 -11.37% , #062630 61.84% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0;
}
.hero-content p {
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.5px;
    color: #385159;
}
.btn {
    padding: 20px 24px ;
    background-color: #FFF5EF;
    border-radius: 8px;
    border: 2px solid #062630;
    display: inline-flex;
    align-items: center;
    color: #062630;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    gap: 20px;
    line-height: 130%;
    letter-spacing: -1px;
    text-decoration: none;
    
} 
.btn:hover {
    background: linear-gradient(90deg, #FFE2D1 0%, #FFF5EF 100%);
    border: 2px solid #062630;
}
.btn:active {
    background: linear-gradient(90deg, #FFE2D1 0%, #FFF5EF 100%);
    border: 4px double #062630;
}
.read-together {
    display: flex;
    max-width: 1200px;
    align-items: center;
    gap: 80px;
    margin: 0 auto;
    padding-top: 80px;
    
}
.read-together-content {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 40px;
    flex: 1;
}
.read-together-image {
    flex: 1;
}
.read-together-image img {
    width: 100%;
    height: auto;
    border-radius: 20px;  
}
.read-together-content h2 {
    font-size: 50px;
    line-height: 130%;
    letter-spacing: -2px;
    color: #062630;
    margin: 0;
}
.read-together-content ul {
    margin: 0;
    list-style-position: inside;
}
.custom-list {
    list-style: none;
    padding-left: 0;
}
.custom-list li {
    display: grid;
    grid-template-columns: 20px 1fr;
    column-gap: 12px;
    align-items: start;
    margin-bottom: 1em;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -1px;
    color:#385159 ;
}
.custom-list li::before {
    content: "";
    width: 20px;
    height: 20px;
    background: url("Images/icon-check.svg") no-repeat center / contain;
}
.book-club {
    display: flex;
    align-items: center;
    
    gap: 20px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 100px;
    max-width: 1200px;
    position: relative;
}
.book-club-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tech-logos {
    position: absolute;
    left: 50%;
    bottom: 60px;
}
.book-club-image img {
    width: 560px;
    height: 520px;
    border-radius: 20px;
}
.book-club h2 {
    font-size: 50px;
    line-height: 130%;
    color: #062630;
    margin-bottom: 10px;
}
.book-club p {
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.5px;
    margin-top: 10px;
    color: #385159;
}
.highlight {
    display: inline-block;
    background: url("Images/pattern-circle.png") no-repeat center center;
    background-size: contain;
}
.journey {
    padding: 4rem 1rem;
    display: flex;
    justify-content: center;
}
.journey-container {
    background-image: 
        url(Images/pattern-glow.svg),
        url(Images/pattern-light-bg.svg);
    background-size: auto, cover;
    background-color: #FFF5EF;
    background-position: bottom right, center;
    background-repeat: no-repeat, repeat;
    background-color: #FFF5EF;
    padding: 3rem 2.5rem;
    max-width: 1200px;
    width: 100%;
    border-radius: 16px;
    box-sizing: border-box;
}
.journey h2 {
    font-size: 50px;
    line-height: 130%;
    color: #062630;
    text-align: center;
}
.steps {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
}
.step p {
    font-size: 18px;
    line-height: 130%;
    letter-spacing: -1px;
    color:#062630 ;
}
.number-box {
    border: 2px solid;
    width: 32px;
    height: 32px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.arrow {
    margin-top: 16px;
    width: 60px;        
    height: auto;
}
.membership {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.membership-cards {
    display: flex;
    gap: 24px;
    align-items: stretch;
}
.membership h2 {
    text-align: center;
    font-size: 50px;
    line-height: 130%;
    color: #062630;
    font-family: martian mono;
    
}
.membership ul {
    list-style: none; 
    padding-left: 0;  
    margin: 0;        
}
.membership ul li {
    display: flex;
    align-items: center;
    gap: 12px; 
}
.cards {
    border: 1px solid #E6E1DF;
    border-radius: 8px;
    display: flex;
    align-items: stretch;
    padding: 24px 40px;
}
.cards-highlight {
    background-image:url(Images/pattern-glow.svg);
    border: 1px solid #E6E1DF;
    border-radius: 8px;
    display: flex;
    background-color:#FFF5EF;
    padding: 32px 40px;
    transform: translateY(-8px);
}
.cards,
.cards-highlight {
    display: flex;
    flex-direction: column;
    width: 320px;
    
}
.cards ul,
.cards-highlight ul {
    margin-bottom: 20px; 
}
.cards button,
.cards-highlight button {
    margin-top: auto;
}
.cards-highlight h3 {
    font-family: martian mono;
    color: #385159
}
.cards h3 {
    font-size: 24px;
    line-height: 110%;
    letter-spacing: -1px;
    font-family: martian mono;
    color: #385159;
    padding-bottom: 0;
}
.starter-options {
    display: flex;
    align-items: baseline;
    gap: 8px;
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E6E1DF;
}
.starter-options span  {
    font-size: 34px;
    line-height: 130%;
    letter-spacing: -1px;
    display: inline-block;
    vertical-align: middle;
    color: #062630;
}
.starter-options p  {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.5px;
    color: #385159;
}
.price {
    font-size: 24px;
    font-weight: bold;
    color: #385159;
}
.read-together-content ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 16px;
    padding-bottom: 32px;
}
.read-together-content li {
    display: flex;
    align-items: center;
    gap: 12px;
    list-style: none;
}
.membership-btn {
    padding: 20px 20px ;
    background-color: #FFF5EF;
    border-radius: 8px;
    border: 2px solid #062630;
    display: inline-flex;
    align-items: center;
    color: #062630;
    font-weight: bold;
    font-family: martian mono;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
}
.membership-btn:hover {
    background: linear-gradient(90deg, #FFE2D1 0%, #FFF5EF 100%);
    border: 2px solid #062630;
}
.membership-btn:active {
    background: linear-gradient(90deg, #FFE2D1 0%, #FFF5EF 100%);
    border: 4px double #062630;
}
.membership-highlight-btn {
    padding: 20px 42px ;
    background-color: #FFF5EF;
    border-radius: 8px;
    border: 2px solid #062630;
    display: inline-flex;
    align-items: center;
    color: #062630;
    font-weight: bold;
    font-family: martian mono;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
}
.membership-highlight-btn:hover {
    background: linear-gradient(90deg, #FFE2D1 0%, #FFF5EF 100%);
    border: 2px solid #062630;
}
.membership-highlight-btn:active {
    background: linear-gradient(90deg, #FFE2D1 0%, #FFF5EF 100%);
    border: 4px double #062630;
}
.testimonial {
    padding-top: 120px;
    text-align: center;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.testimonial blockquote {
    text-align: center;
    color:#062630;
    font-size: 34px;
    line-height: 130%;
    letter-spacing: -1px;
    font-weight: 600;
    font-family: martian mono;
    max-width: 1000px;
}
.testimonial span {
    text-align: center;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.5px;
    color: #385159;
}
.cta {
    background-color: #062630;
    background-image: url(Images/pattern-light-bg.svg);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:  135px;
    border-radius: 12px 12px 0 0;
}
.cta-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 80px 24px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.cta h2 {
    text-align: center;
    font-family: martian mono;
    font-size: 50px;
    line-height: 130%;
    letter-spacing: -2px;
    color:#FAF5F3;
    margin-top: 20px;
}
.cta-btn {
    padding: 20px 24px;
    text-align: center;
    background-color:#062630;
    border-radius: 8px;
    border: 2px solid #ffffff;
    display: inline-flex;
    align-items: center;
    color: #FAF5F3;
    font-weight: bold;
    font-family: martian mono;
    font-size: 18px;
    text-transform: uppercase;
    gap: 20px;
    line-height: 130%;
    letter-spacing: -1px;
    text-decoration: none;
}
.cta-btn:hover {
    background: linear-gradient(to right,#385159, #062630);
}
.cta-btn:active {
    background: linear-gradient(to right,#385159, #062630);
    border: 4px double #ffffff;
}
.cta-social-proof {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 24px;
    margin-bottom: 30px;
}
.avatars {
    width: 110px;
    height: auto;
}
.cta-rating {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}
.star {
    display: flex;
    gap: 4px;
}
.cta-rating-header p {
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -1px;
    margin: 0;
}

.cta-rating-footer p {
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -1px;
    margin: 0;
    color: #ffffff;
}
.footer-wrapper {
    background-color: #062630;
    background-image: url(Images/pattern-dark-bg.svg);
    display: flex;
    justify-content: space-between;
    
}
.footer-wrapper span {
    color:#ffffff;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -1px;
    font-family: martian mono;
}

@media (max-width: 576px) {

 
    h1 {
      font-size: 38px;
      line-height: 1.2;
      font-weight: 800;
    }
  
    h2 {
      font-size: 34px;
      line-height: 1.3;
    }
  
    p {
      font-size: 20px;
      line-height: 1.45;
    }
  

    .container,
    .hero-wrapper {
      width: 100%;
      padding: 0 20px;
      margin-inline: auto;
    }
  
    header img {
      width: 120px;
      margin: 20px 0;
    }
  
   
    .hero {
      flex-direction: column;
      gap: 32px;
      margin-top: 20px;
    }
  
    .hero-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  
    .hero-content p {
      margin-bottom: 24px;
    }
  
    .hero-image img,
    .read-together-image img,
    .book-club-image img {
      width: 100%;
      height: auto;
      border-radius: 16px;
    }
  
    
    .btn {
      width: 100%;
      justify-content: center;
      padding: 18px;
      border-radius: 12px;
      border: 2px solid #000;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
    }
  
   
    .cta-social-proof {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  
    .avatars {
      width: 100px;
      flex-shrink: 0;
    }
  
    .cta-rating-header {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
  
    .star img {
      width: 16px;
    }
  
    .cta-rating-header p {
      font-size: 14px;
      margin: 0;
      line-height: 1.3;
    }
  

    .read-together {
      flex-direction: column-reverse;
      gap: 32px;
    }
  
    .book-club {
      flex-direction: column;
      gap: 24px;
    }
  
    .journey,
    .journey-container {
      flex-direction: column;
    }
  
    .steps {
      flex-direction: column;
      gap: 24px;
    }
  
    .membership-cards,
    .cards {
      flex-direction: column;
      gap: 24px;
      max-width: 100%;
    }
  
  
    .tech-logos,
    .arrow {
      display: none;
    }
    .star {
        align-items: flex-start;
        text-align: left;
    }
  
    
    .testimonial {
          align-items: flex-start;
          text-align: left;
          padding: 60px 16px 0; 
        }
      
    .testimonial blockquote {
        padding-bottom: 20px;
        padding-top: 20px;
        margin: 0;
        align-items: flex-start;
        text-align: left;
        font-size: 22px; 
        max-width: 100%;
        }
      
    .testimonial span {
        text-align: left;
        font-size: 16px;
        }
      
    .footer-wrapper {
        flex-direction: column; 
        justify-content: center;
        align-items: center; 
        text-align: center;
        gap: 12px; 
    }
      
    .social-icon {
        display: flex;
        gap: 20px;
    }
}

  
